
.demo {
    padding: 5px 0;
}

.switch-wrapper {
    display: inline-block;
    position: relative;
    top: 3px;
}


.slider.demo .switch-button-label {
    font-size: 30px;
    margin-top: -7px;
}
