@media print
{
    body * { visibility: hidden; background: none; }
    .Factor * { visibility: visible; }
    .Database * { visibility: visible; }
    .Database
    {
        position: absolute;
        top: 20px;
        width: auto;
    }
    .Database table
    {
        border: 1px solid black;

    }
    .Database table tr
    {
        border: 1px solid black;
    }
    .Database table th
    {
        color: #000;
        border: 1px solid black;
        border-bottom: 2px solid black;
    }
    .Database table td
    {
        border: 1px solid black;
        color: #222;
    }
    /*-------------------------------------------FACTOR LIST----------------------------------------*/
    .Factor .item {
        position: relative;
        width: 362px;
        /*background-color: rgba(255,255,255,0.5);*/
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
        border: 2px solid rgba(0, 0, 0, 0.1);

        border-bottom: 0;
        height: 310px;
        float: right;
    }

    .Factor .customer-info {
        margin-top: -25px;
        padding-bottom: 10px;
    }

    .Factor .customer-info .location-box img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-bottom: -5px;
    }

    .Factor .customer-info .phone-box {
        position: absolute;
        top: 20px;
        left: 15px;
        background: none;
        width: auto;
        padding: 10px 20px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 100;
        direction: ltr;
        letter-spacing: 1px;
    }

    .Factor .customer-info .mobile-box {
        position: absolute;
        top: 80px;
        left: 15px;
        background: none;
        width: auto;
        padding: 10px 20px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 100;
        direction: ltr;
        letter-spacing: 1px;
    }

    .Factor .customer-info .phone-box img, .Factor .customer-info .mobile-box img {
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
        margin-bottom: -7px;
        margin-left: 5px;
    }

    .Factor .customer-info .location-box {
        position: absolute;
        padding: 10px 10px;
        right: 20px;
        top: 20px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 11pt;
        font-weight: 100;
    }

    .Factor .customer-info .post-box {
        position: absolute;
        top: 140px;
        left: 15px;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        padding: 10px 20px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 100;
        direction: ltr;
        letter-spacing: 1px;
    }

    .Factor .customer-info .post-box img {
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
        margin-bottom: -7px;
        margin-left: 5px;
    }

    .Factor .customer-info .coupon-box {
        position: absolute;
        top: 200px;
        left: 15px;
        background: none;
        width: auto;
        padding: 10px 20px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 100;
        direction: ltr;
    }
    .Factor .customer-info .coupon-box img {
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
        margin-bottom: -7px;
        margin-left: 5px;
    }

    .Factor .customer-info .address-box {
        margin-top: 20px;
        margin-right: 5px;
        padding: 10px 10px;
        width: 850px;
        border:0;
    }

    .Factor .customer-info .address-box span {
        background: none;
        font-size: 11pt;
        padding: 10px 20px;
        padding-right: 0;
        text-align: justify;

        line-height: 40px;
        color: #2f4859;
        border:0;

    }

    .Factor .customer-info .address-box img {
        padding: 0;
        margin: 0;
        width: 45px;
        height: 45px;
        margin-bottom: -17px;
        margin-left: 5px;
    }
    .Factor
    {
        margin-top: 10px;
    }
    .Factor .item {
        position: relative;
        width: 332px;
        /*background-color: rgba(255,255,255,0.5);*/
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 30px;
        border: 2px solid rgba(0, 0, 0, 0.1);

        border-bottom: 0;
        height: 340px;
        float: right;
    }
    .Factor .customer-info .shipping-box {

        margin-right: 15px;
        padding: 5px 20px;
        padding-right: 5px;
        width: auto;
        display: inline-block;
        background-color: rgba(235, 240, 242, 0.8);
        font-size: 10pt;
        line-height: 35px;
        color: #333;
        font-weight: 100;
    }

    .Factor .customer-info .shipping-box img {
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        margin-bottom: -15px;
        margin-left: 5px;
    }

    .Factor .shipping-box-price {
        display: inline-block;
        width: auto;
        text-align: center;
        background-color: transparent;
        margin-top: 0;
        padding: 0;
    }

    .Factor .shipping-box-price span {
        display: inline-block;
        font-weight: 100;
        font-size: 10pt;
        margin-right: -5px;
        background: none;
        height: 47px;
        padding: 0 10px;
        line-height: 50px;
        color: #333;
    }

    .Factor .customer-info .payment-box {

        margin-right: 15px;
        padding: 5px 20px;
        padding-right: 5px;
        width: auto;
        display: inline-block;

        font-size: 10pt;
        line-height: 35px;
        color: #333;
        font-weight: 100;
    }

    .Factor .customer-info .payment-box img {
        padding: 0;
        margin: 0;
        width: 35px;
        height: 35px;
        margin-bottom: -12px;
        margin-left: 5px;
    }

    .Factor .payment-box-status {
        display: inline-block;
        width: auto;
        text-align: center;
        background-color: transparent;
        margin-top: 0;
        padding: 0;
    }

    .Factor .payment-box-status span {
        display: inline-block;
        font-weight: 100;
        font-size: 10pt;
        margin-right: -5px;
        background: none;
        height: 45px;
        padding: 0 10px;
        line-height: 45px;
        color: #333;
    }

    .Factor .customer-info .services-box {
        width: 100%;
        margin-right: 15px;
    }

    .Factor .customer-info .services-box .num {
        display: inline-block;
        font-size: 9pt;
        font-weight: 100;
        height: 40px;
        width: 40px;
        background: none;
        text-align: center;
    }

    .Factor .customer-info .services-box .num span {
        color: #eee;
        line-height: 25px;
        display: inline-block;
        height: 25px;
        width: 25px;
        border: 2px solid #eee;
        border-radius: 100%;
        margin-top: 6px;
    }

    .Factor .customer-info .services-box .service {
        display: inline-block;
        font-size: 10pt;
        font-weight: 100;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
    }

    .Factor .customer-info .name-box {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: center;
    }

    .Factor .customer-info .name-box img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-bottom: -5px;
        margin-left: 5px;
    }

    .Factor .customer-info .name-box span {
        display: inline-block;
        font-size: 11pt;
        font-weight: 100;
        background: none;
        padding: 5px 25px;
        line-height: 35px;
        height: 35px;
    }

    .Factor .customer-info .price-box {
        position: absolute;
        bottom: 10px;
        width: 50%;
        left: 25%;
        text-align: center;
        z-index: 1;
    }

    .Factor .customer-info .price-box img {
        width: 35px;
        height: 35px;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-bottom: -10px;
        margin-left: 5px;
    }

    .Factor .customer-info .price-box span {
        display: inline-block;
        font-size: 11pt;
        font-weight: 100;
        color: #444;
        background: none;
        padding: 5px;
        padding-left: 15px;
        border-radius:50px;
        line-height: 35px;
        height: 35px;
    }
    a.f-btn
    {
        display: inline-block;
        float:left;
        width: 45px;
        height: 45px;
        margin-top: -35px;
        margin-left: 10px;

        background-size: contain;
        cursor: default;
        transition: box-shadow 0.3s;
        border-radius: 50px;
        -moz-transition: -moz-box-shadow 0.3s;
        -webkit-transition: -webkit-box-shadow 0.3s;
        -ms-transition: -ms-box-shadow 0.3s;
        -o-transition: -o-box-shadow 0.3s;
        -webkit-border-radius: 50px;
        -ms-border-radius: 50px;
        -moz-border-radius: 50px;
        display: none;
    }
    a.f-btn2
    {
        display: inline-block;
        float:right;
        width: 45px;
        height: 45px;
        margin-top: -35px;
        margin-right: 10px;

        background-size: contain;
        cursor: default;
        transition: box-shadow 0.3s;
        border-radius: 50px;
        -moz-transition: -moz-box-shadow 0.3s;
        -webkit-transition: -webkit-box-shadow 0.3s;
        -ms-transition: -ms-box-shadow 0.3s;
        -o-transition: -o-box-shadow 0.3s;
        -webkit-border-radius: 50px;
        -ms-border-radius: 50px;
        -moz-border-radius: 50px;
        display: none;
    }
    a.Bordered3:link
    {
        box-shadow: 0 0 0 5px black;
    }
    .Factor span
    {
        font-size: 15pt;
        color: black;
    }

    .Factor .comment{
        /*background-color: #eee;*/
        border-radius:  0;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        width: 93.4%;
        font-size: 10pt;
        font-weight: 100;
        padding-right: 3%;
        padding-left: 3%;
        border-top:0;
    }
    .Factor .comment2{
        /*background-color: #eee;*/
        border-radius:  0;
        text-align: left;
        direction: ltr;
        line-height: 40px;
        height: auto;
        padding: 0;
        width: 97.4%;
        font-size: 10pt;
        padding-right: 1%;
        padding-left: 1%;
        border-top:0;
        font-weight: 100;
        text-transform: uppercase;
        background: none;
        border-top: 2px solid #999;
    }
    .Factor .PriceContainer {
        width: 100%;

        text-align: center;
    }

    .Factor .PriceContainer span {
        display: inline-block;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 100;

        margin-left: auto;
        margin-right: auto;
        background: none;
        padding: 5px 10px;
        color: #000;

    }
    .Factor .Time {
        direction: ltr;
        color: #000;
        display: inline-block;
        float: left;
    }
    .Factor .Time2 {
        float: right;
        direction: rtl;
        color: #000;
        display: inline-block;
    }
    .Factor .item .color-box {
        opacity: 0.9;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        border: none;
        color: #555555;
        border-radius: 100%;
    }
    .Factor .color-name {
        display: inline-block;
    }
.Factor .status-nodisplay {
    padding-right: 30px;
    display: inline-block;

}


    .Factor .payment-button {
        display: none;

    }
    .Factor .payment-button2 {
        display: none;

    }

    .Factor .item .color-box:hover {
        border-color: #09f;
    }

    .Factor .item .count-box {
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 10px;
        border: 2px Solid #aaa;
        font-weight: 100;
        font-size: 8pt;
        color: #555555;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }


    .Factor .item .name-box {
        width: 250px;
        margin-top: 10px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .Factor .item .guarantee-box {
        width: 250px;
        margin-top: 5px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 9pt;
        font-weight: 100;
    }

    .Factor .item .guarantee-box span {
        background: rgba(0, 0, 0, 0.1);
        padding: 5px;
        display: inline-block;
    }

    .Factor .item .name-box .name {
        font-size: 10pt;
        font-weight: 100;
    }

    .Factor .item .name-box .lname {
        font-size: 10pt;
        direction: ltr;
    }

    .Factor .item .image-box {
        width: 180px;
        height: 180px;
        margin-top: 10px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        border: 5px Solid rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        -moz-transition: border 0.3s;
        -webkit-transition: border 0.3s;
        -ms-transition: border 0.3s;
        -o-transition: border 0.3s;
        overflow: hidden;
        cursor: pointer;
    }
}
