/* CSS3 STYLE GENERIC */
.view1 {
   width: 100%;
   height: 100%;
   margin: 0;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   
}
.view1 .mask, .view1 .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view1 a.info {
   background:url(../Images/Hover.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:100%;
   height:100%;
}
